# Exclude MATLAB temporary and variable files
*.mat
*.asv
*.csv

# Exclude Debug and testing folders and files
debug/*

# Compiled source #
###################
*.p

# VS Code files 
.vs
*.code-workspace